<head>	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<form action="/quiz/1/0/test/" method="POST">
	{% csrf_token %}
	<div>
    {% for level in all_levels %}
		  <input name="group_level" class="level" type="radio" id="level_{{level.level_number}}" value="{{ level.level_number  }}">	
		  <label>{{ level.level_name }}</label>	
	{% endfor %}
    </div>
    <div>
	{% for language in all_languages %}
		  <input name="group_language" class="language" type="radio" id="language_{{language.id}}" value="{{ language.id  }}">	 
		  <label>{{ language.language_name }}</label>	
	{% endfor %}
	</div>
	<input type="hidden" name="user" value="{{ user }}">
	<div>
		<button type="submit">Submit</button>
	</div>
</form>


<script>
	$(document).ready(function() {
		$("#level_0").attr("checked", "checked");
		$("#language_1").attr("checked", "checked");
		var level_id = 0;
		var language_id = 1;
    	$(".level").click(function() {
    		let level_id = $(this).attr("value");
    		$("form").attr("action", "/quiz/" + language_id + '/' + level_id + '/test/');

    	});
    	$(".language").click(function() {
    		let language_id = $(this).attr("value").toLowerCase();
    		$("form").attr("action", "/quiz/" + language_id + '/' + level_id + '/test/');

    	});
});
</script>