 {% if log %}
    <p>{{ log }} or <a href="/quiz/register/">Register</a></p>
 {% endif %}

 <form action="/quiz/login/check/" method="POST">
  {% csrf_token %}
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <input type="hidden" name="login">


    <button type="submit">Login</button>

  </div>

</form> 