<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">

<div class="ui  equal width grid">
<div class="colomn"></div>
<div class="four wide centered column">
<div class="colomn">
<form class="ui form" action="/quiz/register_user/" method="POST">
    {% csrf_token %}
  <div class="field">
    <label for="uname">Username</label>
    <input type="text" name="uname" placeholder="Enter Username" required>
  </div>
  <div class="field">
    <label for="psw">Password</label>
    <input type="password" name="psw" placeholder="Password" required>
  </div>
  <div class="field">
    <label for="email">Email</label>
    <input type="text" placeholder="Enter Email" name="email" required>
  </div>
  <div class="inline fields">
  <button class="ui button left floated" type="submit">Register</button>
</form>
</div>
</div>
</div>
<div class="colomn"></div>
</div>
<!--  {% if log %}
    <p>{{ log }} or <a href="/quiz/register/">Register</a></p>
 {% endif %}
 -->