{% if random_questions %}
    <form action="/quiz/{{ level_id }}/tests/results/" method="POST">
    {% csrf_token %}
    {% for question in random_questions %}
		  <p>{{ question.title.question_text }}</p>
		  <div>
		  	{% for answer in  question.answers %}
        		<input type="radio" id="answer_{{answer.id}}" name="{{ question.title.id }}" value="{{ answer.id }}">
		    	<label for="contactChoice1">{{ answer }}</label>
        	{% endfor %}
		  </div>
	{% endfor %}
	<div>
		<button type="submit">Submit</button>
	</div>
	</form>
{% elif correct or wrong %}
    <p>Correct answers: {{ correct }}</p>
	<p>Wrong answers: {{ wrong }}</p>
{% endif %}
